tiktoken
openai
google-genai
python-docx
beautifulsoup4
requests
faiss-cpu
tqdm
python-dotenv
flask
flask-cors
flask-security-too
flask-sqlalchemy
flask-limiter
argon2-cffi
email-validator
zxcvbn
jinja2
pypdf
werkzeug
cryptography
cyclonedx-bom
